@charset "UTF-8";
.ap-post {
  --cont-w: 1920;
}
@media (max-width: 750px) {
  .ap-post {
    --cont-w: 750;
  }
}
.ap-post--ginseng-cream {
  background-color: #fff;
  color: #222;
  font-family: Theinhardt, NotoSans, Malgun Gothic, 맑은 고딕, Nanum Gothic, 나눔 고딕, 돋움, dotum, sans-serif;
  letter-spacing: 0;
  line-height: 1;
  overflow: hidden;
  text-align: center;
}
.ap-post--ginseng-cream .display-mo,
.ap-post--ginseng-cream .hidden,
.ap-post--ginseng-cream .m-br {
  display: none;
}
.ap-post--ginseng-cream .pc-br {
  display: block;
}
.ap-post--ginseng-cream .pc-only {
  display: inline-block !important;
}
.ap-post--ginseng-cream .mo-only {
  display: none !important;
}
.ap-post--ginseng-cream h1,
.ap-post--ginseng-cream h2,
.ap-post--ginseng-cream h3,
.ap-post--ginseng-cream h4,
.ap-post--ginseng-cream h5,
.ap-post--ginseng-cream h6,
.ap-post--ginseng-cream p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}
.ap-post--ginseng-cream button {
  -webkit-appearance: none;
  background: 0;
  border: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  overflow: visible;
}
.ap-post--ginseng-cream button:focus, .ap-post--ginseng-cream button:focus-visible {
  outline: 1px auto #e86e25;
}
.ap-post--ginseng-cream a:hover {
  text-decoration: none;
}
.ap-post--ginseng-cream a:focus, .ap-post--ginseng-cream a:focus-visible {
  outline: 1px auto #e86e25;
}
.ap-post--ginseng-cream .img-box {
  display: block;
}
.ap-post--ginseng-cream img {
  height: auto;
  vertical-align: top;
  width: 100%;
}
.ap-post--ginseng-cream video {
  display: block;
  width: 100%;
}
.ap-post--ginseng-cream .blind {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}
.ap-post--ginseng-cream .apu-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ap-post--ginseng-cream .apu-flex[data-aos] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ap-post--ginseng-cream .apu-flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.ap-post--ginseng-cream .apu-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ap-post--ginseng-cream .apu-flex-column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.ap-post--ginseng-cream .apu-grid {
  display: grid;
}
.ap-post--ginseng-cream .apu-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ap-post--ginseng-cream .apu-justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.ap-post--ginseng-cream .apu-justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.ap-post--ginseng-cream .apu-justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.ap-post--ginseng-cream .apu-justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ap-post--ginseng-cream .apu-justify-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.ap-post--ginseng-cream .apu-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ap-post--ginseng-cream .apu-align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.ap-post--ginseng-cream .apu-align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.ap-post--ginseng-cream .apu-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.ap-post--ginseng-cream .apu-text-center {
  text-align: center;
}
.ap-post--ginseng-cream .apu-text-left {
  text-align: left;
}
.ap-post--ginseng-cream .apu-text-justify, .ap-post--ginseng-cream .apu-text-right {
  text-align: right;
}
.ap-post--ginseng-cream .fw-m {
  font-weight: 700;
}
.ap-post--ginseng-cream sup {
  font-size: 100%;
  line-height: 0;
  position: relative;
  top: -0.01em;
  vertical-align: baseline;
}
.ap-post--ginseng-cream .tm {
  font-size: 80%;
  top: -0.3em;
}
.ap-post--ginseng-cream .section-inner-m {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 12.5%;
  padding-right: 12.5%;
}
.ap-post--ginseng-cream .section-inner-l {
  margin: 0 auto;
  max-width: 1920px;
}
.ap-post--ginseng-cream .ginseng2023-btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #222;
  color: #222;
  display: inline-block;
  font-family: NotoSans, sans-serif;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-align: center;
  width: clamp(1px, calc(220 / var(--cont-w) * 100vw), 220px);
}
.ap-post--ginseng-cream .ginseng2023-btn:focus, .ap-post--ginseng-cream .ginseng2023-btn:focus-visible {
  outline: 1px auto #e86e25;
}
.ap-post--ginseng-cream .ginseng2023-btn--goto-mall {
  background-color: #222;
  color: #fff;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .display-pc,
  .ap-post--ginseng-cream .pc-br,
  .ap-post--ginseng-cream .pc-only {
    display: none !important;
  }
  .ap-post--ginseng-cream .display-mo,
  .ap-post--ginseng-cream .m-br,
  .ap-post--ginseng-cream .mo-only {
    display: block !important;
  }
  .ap-post--ginseng-cream .section-inner-m, .ap-post--ginseng-cream .section-inner-l {
    padding: 0;
    width: 100%;
  }
  .ap-post--ginseng-cream .ginseng2023-btn {
    border-width: clamp(1px, calc(2 / var(--cont-w) * 100vw), 2px);
    width: clamp(1px, calc(235 / var(--cont-w) * 100vw), 235px);
  }
}
.ap-post--ginseng-cream .chk-img {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
  pointer-events: none;
}
.ap-post--ginseng-cream .ap-section--intro-video {
  background-color: #000;
  position: relative;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__header {
  position: relative;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-text-wrap {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: clamp(1px, calc(1920 / var(--cont-w) * 100vw), 1920px);
  padding-right: clamp(1px, calc(960 / var(--cont-w) * 100vw), 960px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__desc {
  margin-bottom: clamp(1px, calc(30 / var(--cont-w) * 100vw), 30px);
  font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
  font-weight: 500;
  letter-spacing: -0.025em;
  line-height: 1.3571;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__desc .font-thein {
  font-size: clamp(11px, calc(32 / var(--cont-w) * 100vw), 32px);
  font-weight: 500;
  line-height: 1.2;
}
.ap-post--ginseng-cream .ap-section--intro-video .title-wrap em {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: clamp(1px, calc(74 / var(--cont-w) * 100vw), 74px);
  height: clamp(1px, calc(32 / var(--cont-w) * 100vw), 32px);
  margin: 0 auto;
  margin-bottom: clamp(1px, calc(24 / var(--cont-w) * 100vw), 24px);
  padding-top: 0.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
  font-weight: 800;
  color: #f4af79;
  line-height: 1;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__title {
  display: block;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__title--ko {
  font-size: clamp(11px, calc(48 / var(--cont-w) * 100vw), 48px);
  font-weight: 800;
  letter-spacing: -0.05em;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body {
  position: relative;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 {
  margin-top: 0;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap-section-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap-video {
  position: relative;
  width: max(1px, calc(1090 / var(--cont-w) * 100vw));
  height: calc(clamp(130px, 9.84375vw, 189px) + 614 / var(--cont-w) * 100vw);
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap-video video {
  margin-bottom: -1px;
  -webkit-mask-image: -webkit-radial-gradient(#fff, #000);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap2022-video-script-box {
  background-color: #30211b;
  margin-top: -2px;
  font-size: clamp(11px, calc(16 / var(--cont-w) * 100vw), 16px);
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap2022-video-script-box__button i {
  background-color: #a98e85;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap2022-video-script-box__button span {
  color: #fff;
}
.ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap2022-video-script-box__text {
  background-color: #41302a;
  color: #fff;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--intro-video .ap-text-wrap {
    padding-right: 0;
    top: clamp(1px, calc(150 / var(--cont-w) * 100vw), 150px);
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .ap-post--ginseng-cream .ap-section--intro-video .ap-section__desc {
    font-size: clamp(11px, calc(30 / var(--cont-w) * 100vw), 30px);
    letter-spacing: -0.025em;
    line-height: 1.3333;
  }
  .ap-post--ginseng-cream .ap-section--intro-video .ap-section__desc .font-thein {
    font-size: clamp(11px, calc(34 / var(--cont-w) * 100vw), 34px);
  }
  .ap-post--ginseng-cream .ap-section--intro-video .title-wrap em {
    width: clamp(1px, calc(80 / var(--cont-w) * 100vw), 80px);
    height: clamp(1px, calc(36 / var(--cont-w) * 100vw), 36px);
    padding-top: 1%;
    font-size: clamp(11px, calc(30 / var(--cont-w) * 100vw), 30px);
  }
  .ap-post--ginseng-cream .ap-section--intro-video .ap-section__title--ko {
    font-size: clamp(11px, calc(52 / var(--cont-w) * 100vw), 52px);
    font-weight: 600;
    letter-spacing: -0.04em;
  }
  .ap-post--ginseng-cream .ap-section--intro-video .ap-section__body--2024 .ap-video {
    width: max(300px, calc(670 / var(--cont-w) * 100vw));
    height: calc(clamp(130px, 22vw, 165px) + 1190 / var(--cont-w) * 100vw);
    min-height: 700px;
  }
}
.ap-post--ginseng-cream .ap-section--feature-01 {
  color: #fff;
  position: relative;
  text-align: left;
}
.ap-post--ginseng-cream .ap-section--feature-01 .section-inner-l {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 7.2916666667%;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50%;
  letter-spacing: -0.08em;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-section__desc {
  font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
  font-weight: 500;
  line-height: 1.5357;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-section__title {
  font-size: clamp(11px, calc(42 / var(--cont-w) * 100vw), 42px);
  font-weight: 500;
  line-height: 1.3333;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-section__title .font-thein {
  font-size: clamp(11px, calc(46 / var(--cont-w) * 100vw), 46px);
  line-height: 1.2174;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-section__title sup {
  top: -0.1em;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-text {
  margin-top: clamp(1px, calc(22 / var(--cont-w) * 100vw), 22px);
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  line-height: 1.5833;
}
.ap-post--ginseng-cream .ap-section--feature-01 .ap-desc {
  margin-top: clamp(1px, calc(36 / var(--cont-w) * 100vw), 36px);
  font-size: clamp(10px, calc(18 / var(--cont-w) * 100vw), 18px);
  font-weight: 300;
  line-height: 1.5556;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--feature-01 .section-inner-l {
    top: clamp(1px, calc(116 / var(--cont-w) * 100vw), 116px);
    right: auto;
    left: 0;
    width: 100%;
    padding-left: clamp(1px, calc(60 / var(--cont-w) * 100vw), 60px);
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.ap-post--ginseng-cream .ap-section--goods .products-info-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ap-post--ginseng-cream .ap-section--goods .products-image {
  width: 50%;
}
.ap-post--ginseng-cream .ap-section--goods .info-wrap {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.ap-post--ginseng-cream .ap-section--goods .text-wrap {
  text-align: center;
  width: 100%;
}
.ap-post--ginseng-cream .ap-section--goods .price-wrap {
  margin-top: 3.75%;
}
.ap-post--ginseng-cream .ap-section--goods .prd-name--ko {
  font-size: clamp(11px, calc(42 / var(--cont-w) * 100vw), 42px);
  font-weight: 700;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--goods .prd-name--en {
  color: #888;
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-top: 1.1458333333%;
}
.ap-post--ginseng-cream .ap-section--goods .prd-name .font-thein {
  font-size: clamp(11px, calc(46 / var(--cont-w) * 100vw), 46px);
  font-weight: 500;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--goods .prd-desc {
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.4166666667;
  margin-top: 4.1666666667%;
}
.ap-post--ginseng-cream .ap-section--goods .prd-desc sup {
  top: -0.15em;
}
.ap-post--ginseng-cream .ap-section--goods .prd-price {
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 700;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--goods .prd-price + .prd-price {
  padding-left: 3.125%;
  position: relative;
}
.ap-post--ginseng-cream .ap-section--goods .prd-price + .prd-price::before {
  background-color: #999;
  content: "";
  height: clamp(1px, calc(20 / var(--cont-w) * 100vw), 20px);
  left: 0;
  margin-left: 6.2200956938%;
  position: absolute;
  top: 0;
  width: 1px;
}
.ap-post--ginseng-cream .ap-section--goods .prd-price .amount {
  color: #888;
  font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
  margin-right: 0.9375%;
}
.ap-post--ginseng-cream .ap-section--goods .prd-price .number {
  font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
}
.ap-post--ginseng-cream .ap-section--goods .btn-wrap {
  margin-top: 6.875%;
}
.ap-post--ginseng-cream .ap-section--goods .ginseng2023-btn {
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  padding: 2.2916666667% 0;
}
.ap-post--ginseng-cream .ap-section--goods .ginseng2023-btn--goto-mall {
  margin-left: 1.6666666667%;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--goods .products-info-wrap {
    display: block;
  }
  .ap-post--ginseng-cream .ap-section--goods .products-image {
    width: 100%;
  }
  .ap-post--ginseng-cream .ap-section--goods .info-wrap {
    padding-bottom: 15.6%;
    padding-top: 16.6666666667%;
    width: 100%;
  }
  .ap-post--ginseng-cream .ap-section--goods .price-wrap {
    margin-top: 5.3333333333%;
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-name--ko {
    font-size: clamp(11px, calc(46 / var(--cont-w) * 100vw), 46px);
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-name--en {
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    margin-top: 1.7333333333%;
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-name .font-thein {
    font-size: clamp(11px, calc(50 / var(--cont-w) * 100vw), 50px);
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-desc {
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    line-height: 1.5384615385;
    margin-top: 4.8%;
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-price {
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-price + .prd-price {
    padding-left: 4.8%;
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-price + .prd-price::before {
    height: clamp(1px, calc(21 / var(--cont-w) * 100vw), 21px);
    margin-left: 6.1674008811%;
    width: clamp(1px, calc(2 / var(--cont-w) * 100vw), 2px);
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-price .amount {
    margin-right: 1.2%;
  }
  .ap-post--ginseng-cream .ap-section--goods .prd-price .amount,
  .ap-post--ginseng-cream .ap-section--goods .prd-price .number {
    font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
  }
  .ap-post--ginseng-cream .ap-section--goods .btn-wrap {
    margin-top: 8.6666666667%;
  }
  .ap-post--ginseng-cream .ap-section--goods .ginseng2023-btn {
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    padding: 2.9333333333% 0;
  }
}
.ap-post--ginseng-cream .ap-section--secret {
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
}
.ap-post--ginseng-cream .ap-section--secret .ap-background {
  background-color: #341906;
  width: 100vw;
  height: 100%;
  padding-top: max(1px, calc(1412 / var(--cont-w) * 100vw));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ap-post--ginseng-cream .ap-section--secret .ap-background-inner {
  width: 100%;
  height: 100%;
  background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_secret-bg_pc_kr_240812.jpg");
  background-repeat: repeat;
  background-position: center top;
  background-size: 100% auto;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__body {
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__inner {
  height: 600vh;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__header {
  position: relative;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title {
  font-size: clamp(11px, calc(70 / var(--cont-w) * 100vw), 70px);
  color: #fff;
  font-weight: 800;
  line-height: 1.2857;
  margin-bottom: clamp(1px, calc(160 / var(--cont-w) * 100vw), 160px);
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title span {
  display: block;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title--color1 {
  color: #f7a084;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title--color2 {
  color: #f6beac;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title--color3 {
  color: #ffffff;
}
.ap-post--ginseng-cream .ap-section--secret .ap-section__title sup {
  top: -0.1em;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret {
  height: 100vh;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  inset: 0px auto auto 0px;
  width: 100%;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret__item {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 120);
          transform: matrix(1, 0, 0, 1, 0, 120);
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 93%;
  height: 93%;
  max-height: 742px;
  max-width: 1220px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  will-change: transform, opacity;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret__inner {
  border-radius: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
  height: 100%;
  background-color: #000;
  overflow: hidden;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret__item--01 {
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text {
  position: absolute;
  top: 50%;
  left: clamp(1px, calc(90 / var(--cont-w) * 100vw), 90px);
  color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__title {
  font-size: clamp(11px, calc(40 / var(--cont-w) * 100vw), 40px);
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__desc {
  margin-top: clamp(1px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-size: clamp(11px, calc(22 / var(--cont-w) * 100vw), 22px);
  line-height: 1.4545;
  letter-spacing: -0.025em;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__desc .font-thein {
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 500;
  color: #fff;
}
.ap-post--ginseng-cream .ap-section--secret .ap-secret__item--02 .ap-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--secret .ap-background {
    padding-top: max(1px, calc(881 / var(--cont-w) * 100vw));
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-background-inner {
    background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_secret-bg_mo_kr_240812.jpg");
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-section__title {
    width: 100%;
    font-size: clamp(11px, calc(54 / var(--cont-w) * 100vw), 54px);
    line-height: 1.1852;
    margin-bottom: clamp(1px, calc(80 / var(--cont-w) * 100vw), 80px);
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret {
    height: var(--app-height, 100vh);
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret__item {
    width: 89.3333%;
    height: 100%;
    padding: 10% 0;
    max-height: 1120px;
    max-width: 670px;
    text-align: center;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-image {
    display: block;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: auto;
    height: auto;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-image img {
    -o-object-position: bottom;
       object-position: bottom;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text {
    padding-top: clamp(1px, calc(90 / var(--cont-w) * 100vw), 90px);
    position: static;
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__title {
    font-size: clamp(11px, calc(50 / var(--cont-w) * 100vw), 50px);
    line-height: 1.32;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__desc {
    font-size: clamp(11px, calc(30 / var(--cont-w) * 100vw), 30px);
    line-height: 1.5333;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret .ap-text__desc .font-thein {
    font-size: clamp(11px, calc(32 / var(--cont-w) * 100vw), 32px);
    font-weight: 400;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret__item--02 .ap-image {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret__item--02 .ap-image img {
    -o-object-position: top;
       object-position: top;
  }
  .ap-post--ginseng-cream .ap-section--secret .ap-secret__item--02 .ap-text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: clamp(1px, calc(90 / var(--cont-w) * 100vw), 90px);
  }
}
.ap-post--ginseng-cream .ap-section--detail {
  margin-top: -1px;
  background-color: #000;
}
.ap-post--ginseng-cream .ap-section--detail .ap-section__body {
  padding: 7.96875% 0;
  text-align: center;
}
.ap-post--ginseng-cream .ap-section--detail .ap-title {
  font-size: clamp(11px, calc(48 / var(--cont-w) * 100vw), 48px);
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  line-height: 1.375;
}
.ap-post--ginseng-cream .ap-section--detail .ap-title .line {
  position: relative;
  z-index: 2;
}
.ap-post--ginseng-cream .ap-section--detail .ap-title .line::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 8%;
  z-index: -1;
  width: 105%;
  height: clamp(1px, calc(15 / var(--cont-w) * 100vw), 15px);
  background-color: #e86e25;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.ap-post--ginseng-cream .ap-section--detail .improvement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(1px, calc(98 / var(--cont-w) * 100vw), 98px);
  margin-top: 1.71875%;
}
.ap-post--ginseng-cream .ap-section--detail .improvement__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(1px, calc(17 / var(--cont-w) * 100vw), 17px);
}
.ap-post--ginseng-cream .ap-section--detail .item-num {
  color: #e86e25;
  font-size: clamp(11px, calc(58 / var(--cont-w) * 100vw), 58px);
  font-weight: 500;
  letter-spacing: 0;
}
.ap-post--ginseng-cream .ap-section--detail .item-text {
  color: #fff;
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 500;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--detail .ap-desc {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: clamp(11px, calc(18 / var(--cont-w) * 100vw), 18px);
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 1.5555555556;
  margin-top: 3.28125%;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--detail .ap-section__body {
    padding: 16.2666666667% 0;
  }
  .ap-post--ginseng-cream .ap-section--detail .ap-title {
    font-size: clamp(11px, calc(52 / var(--cont-w) * 100vw), 52px);
    line-height: 1.3076923077;
  }
  .ap-post--ginseng-cream .ap-section--detail .improvement {
    gap: clamp(1px, calc(63 / var(--cont-w) * 100vw), 63px);
    margin-top: 6.2666666667%;
  }
  .ap-post--ginseng-cream .ap-section--detail .improvement__item {
    gap: clamp(1px, calc(20 / var(--cont-w) * 100vw), 20px);
  }
  .ap-post--ginseng-cream .ap-section--detail .item-num {
    font-size: clamp(11px, calc(50 / var(--cont-w) * 100vw), 50px);
  }
  .ap-post--ginseng-cream .ap-section--detail .item-text {
    font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  }
  .ap-post--ginseng-cream .ap-section--detail .ap-desc {
    color: #fff;
    font-size: clamp(11px, calc(22 / var(--cont-w) * 100vw), 22px);
    line-height: 1.5454545455;
    margin-top: 8.2666666667%;
  }
  .ap-post--ginseng-cream .ap-section--detail .ap-desc sup {
    font-size: 80%;
    top: -0.05em;
  }
}
.ap-post--ginseng-cream .ap-section--feature-02 {
  height: clamp(1px, calc(1200 / var(--cont-w) * 100vw), 1200px);
  background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_feature-02_pc_kr_240801.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  text-align: left;
}
@media (min-width: 2561px) {
  .ap-post--ginseng-cream .ap-section--feature-02 {
    height: max(1px, calc(900 / var(--cont-w) * 100vw));
    background-size: auto 100%;
  }
}
.ap-post--ginseng-cream .ap-section--feature-02 .section-inner-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: clamp(1px, calc(1440 / var(--cont-w) * 100vw), 1440px);
  height: 100%;
  margin: 0 auto;
}
.ap-post--ginseng-cream .ap-section--feature-02 .ap-section__title {
  font-size: clamp(11px, calc(48 / var(--cont-w) * 100vw), 48px);
  font-weight: 800;
  color: #000;
  letter-spacing: -0.04em;
  line-height: 1.375;
}
.ap-post--ginseng-cream .ap-section--feature-02 .ap-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: clamp(1px, calc(124 / var(--cont-w) * 100vw), 124px);
  font-size: clamp(11px, calc(18 / var(--cont-w) * 100vw), 18px);
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 1.6666666667;
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1px, calc(100 / var(--cont-w) * 100vw), 100px);
  margin-top: clamp(1px, calc(110 / var(--cont-w) * 100vw), 110px);
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__col:has(.effect__group:nth-child(n+2)) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__title {
  margin-bottom: clamp(1px, calc(28 / var(--cont-w) * 100vw), 28px);
  font-size: clamp(11px, calc(32 / var(--cont-w) * 100vw), 32px);
  font-weight: 600;
  color: #000;
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__item {
  position: relative;
  width: clamp(1px, calc(230 / var(--cont-w) * 100vw), 230px);
  text-align: right;
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__item:nth-of-type(n + 2) {
  margin-top: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ff662c;
}
.ap-post--ginseng-cream .ap-section--feature-02 .effect__item::after {
  content: "";
  display: block;
  width: clamp(1px, calc(9 / var(--cont-w) * 100vw), 9px);
  height: clamp(1px, calc(9 / var(--cont-w) * 100vw), 9px);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff662c;
  border-radius: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}
.ap-post--ginseng-cream .ap-section--feature-02 .item-num {
  padding-bottom: clamp(1px, calc(6 / var(--cont-w) * 100vw), 6px);
  font-size: clamp(11px, calc(30 / var(--cont-w) * 100vw), 30px);
  font-weight: 800;
  color: #ff662c;
  letter-spacing: -0.02em;
}
.ap-post--ginseng-cream .ap-section--feature-02 .item-count {
  padding-right: 1%;
  font-size: clamp(11px, calc(58 / var(--cont-w) * 100vw), 58px);
}
.ap-post--ginseng-cream .ap-section--feature-02 .item-text {
  position: absolute;
  left: 0;
  bottom: clamp(1px, calc(14 / var(--cont-w) * 100vw), 14px);
  font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
  font-weight: 500;
  color: #777;
  letter-spacing: -0.03em;
  line-height: 1;
  text-align: left;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--feature-02 {
    height: auto;
    height: max(568px, calc(1265 / var(--cont-w) * 100vw));
    background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_feature-02_mo_kr_240801.jpg");
    background-position: right bottom;
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .section-inner-l {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    padding-top: clamp(1px, calc(144 / var(--cont-w) * 100vw), 144px);
    padding-left: clamp(1px, calc(60 / var(--cont-w) * 100vw), 60px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .ap-desc {
    padding-top: clamp(1px, calc(100 / var(--cont-w) * 100vw), 100px);
    color: #666;
    line-height: 1.3333;
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect {
    display: block;
    margin-top: clamp(1px, calc(54 / var(--cont-w) * 100vw), 54px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect__group {
    margin-top: clamp(1px, calc(56 / var(--cont-w) * 100vw), 56px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect__title {
    margin-bottom: clamp(1px, calc(28 / var(--cont-w) * 100vw), 28px);
    font-size: clamp(11px, calc(28 / var(--cont-w) * 100vw), 28px);
    font-weight: 600;
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect__item {
    width: clamp(1px, calc(190 / var(--cont-w) * 100vw), 190px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect__item:nth-of-type(n + 2) {
    margin-top: clamp(1px, calc(30 / var(--cont-w) * 100vw), 30px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .effect__item::after {
    width: clamp(1px, calc(7 / var(--cont-w) * 100vw), 7px);
    height: clamp(1px, calc(7 / var(--cont-w) * 100vw), 7px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .item-num {
    padding-bottom: 0;
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .item-count {
    padding-right: 1%;
    font-size: clamp(11px, calc(50 / var(--cont-w) * 100vw), 50px);
  }
  .ap-post--ginseng-cream .ap-section--feature-02 .item-text {
    bottom: clamp(1px, calc(10 / var(--cont-w) * 100vw), 10px);
    font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  }
}
.ap-post--ginseng-cream .ap-section--texture {
  position: relative;
}
.ap-post--ginseng-cream .ap-section--texture .ap-section__desc {
  margin-bottom: clamp(1px, calc(10 / var(--cont-w) * 100vw), 10px);
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 800;
  line-height: 1.5833;
}
.ap-post--ginseng-cream .ap-section--texture .ap-section__title {
  font-size: clamp(11px, calc(48 / var(--cont-w) * 100vw), 48px);
  font-weight: 600;
  line-height: 1.4167;
}
.ap-post--ginseng-cream .ap-section--texture .ap-text {
  margin-top: clamp(1px, calc(30 / var(--cont-w) * 100vw), 30px);
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  line-height: 1.5833;
}
.ap-post--ginseng-cream .ap-section--texture-group {
  position: relative;
}
.ap-post--ginseng-cream .ap-section--texture-top {
  width: 100%;
  padding-top: max(1px, calc(160 / var(--cont-w) * 100vw));
  position: absolute;
  left: 0;
  top: 0;
}
.ap-post--ginseng-cream .ap-section--texture-top .ap-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: clamp(1px, calc(140 / var(--cont-w) * 100vw), 140px);
  width: clamp(1px, calc(1240 / var(--cont-w) * 100vw), 1240px);
  margin: 0 auto;
  letter-spacing: -0.08em;
}
.ap-post--ginseng-cream .ap-section--texture-top .ap-image {
  width: clamp(1px, calc(620 / var(--cont-w) * 100vw), 620px);
}
.ap-post--ginseng-cream .ap-section--texture-top .ap-text-wrap {
  padding-top: clamp(1px, calc(172 / var(--cont-w) * 100vw), 172px);
  text-align: left;
}
.ap-post--ginseng-cream .ap-section--texture-top .ap-text {
  margin-top: clamp(1px, calc(16 / var(--cont-w) * 100vw), 16px);
}
.ap-post--ginseng-cream .ap-section--texture-01 {
  width: 100%;
  height: max(1px, calc(800 / var(--cont-w) * 100vw));
  position: absolute;
  left: 0;
  bottom: 0;
}
.ap-post--ginseng-cream .ap-section--texture-01 .ap-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: -0.08em;
}
.ap-post--ginseng-cream .ap-section--texture-02 .ap-section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  letter-spacing: -0.08em;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--texture .ap-section__desc {
    margin-top: clamp(1px, calc(10 / var(--cont-w) * 100vw), 10px);
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    line-height: 1.4615;
  }
  .ap-post--ginseng-cream .ap-section--texture .ap-section__title {
    font-size: clamp(11px, calc(52 / var(--cont-w) * 100vw), 52px);
  }
  .ap-post--ginseng-cream .ap-section--texture .ap-text {
    margin-top: clamp(1px, calc(24 / var(--cont-w) * 100vw), 24px);
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    line-height: 1.5385;
  }
  .ap-post--ginseng-cream .ap-section--texture-top {
    padding-top: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .ap-post--ginseng-cream .ap-section--texture-top .ap-section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: clamp(1px, calc(72 / var(--cont-w) * 100vw), 72px);
    width: 100%;
    padding-left: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
    padding-right: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ap-post--ginseng-cream .ap-section--texture-top .ap-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  .ap-post--ginseng-cream .ap-section--texture-top .ap-text-wrap {
    padding-top: clamp(1px, calc(90 / var(--cont-w) * 100vw), 90px);
    padding-left: clamp(1px, calc(20 / var(--cont-w) * 100vw), 20px);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ap-post--ginseng-cream .ap-section--texture-top .ap-section__title {
    font-size: clamp(11px, calc(42 / var(--cont-w) * 100vw), 42px);
    line-height: 1.3333;
  }
  .ap-post--ginseng-cream .ap-section--texture-top .ap-text {
    margin-top: clamp(1px, calc(20 / var(--cont-w) * 100vw), 20px);
    font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
    line-height: 1.5833;
  }
  .ap-post--ginseng-cream .ap-section--texture-01 {
    height: clamp(1px, calc(800 / var(--cont-w) * 100vw), 800px);
  }
  .ap-post--ginseng-cream .ap-section--texture-02 .ap-section__body {
    height: 100%;
  }
}
.ap-post--ginseng-cream .ap-section--sustainable {
  background: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_sustainable-bg_pc_kr_240801.jpg") no-repeat 50%;
  background-size: cover;
  width: 100%;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--sustainable {
    background: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_sustainable-bg_mo_kr_240801.jpg") no-repeat 50%;
    background-size: cover;
  }
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body {
  overflow: hidden;
  position: relative;
  width: clamp(1px, calc(1740 / var(--cont-w) * 100vw), 1740px);
  margin: 0 auto;
  padding: 9.375% 0;
  text-align: left;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper {
  width: 100%;
  height: 100%;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-prev, .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-next {
  width: 30px;
  height: 47px;
  margin-top: 0;
  background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_swiper-arrow_pc_kr_240801.jpg");
  background-size: cover;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-prev.swiper-button-disabled, .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-next.swiper-button-disabled {
  opacity: 0;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-prev {
  left: clamp(1px, calc(68 / var(--cont-w) * 100vw), 68px);
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-next {
  right: clamp(1px, calc(68 / var(--cont-w) * 100vw), 68px);
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-detail {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-list {
  text-align: center;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-list .ap-section-image {
  width: clamp(1px, calc(221 / var(--cont-w) * 100vw), 221px);
  margin: 0 auto;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name {
  color: #222;
  font-size: clamp(11px, calc(32 / var(--cont-w) * 100vw), 32px);
  font-weight: 700;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name-en {
  color: #888;
  display: block;
  font-size: clamp(11px, calc(18 / var(--cont-w) * 100vw), 18px);
  font-weight: 500;
  letter-spacing: 0.025em;
  margin-top: clamp(1px, calc(10 / var(--cont-w) * 100vw), 10px);
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name .font-thein {
  font-size: clamp(11px, calc(34 / var(--cont-w) * 100vw), 34px);
  font-weight: 500;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .ginseng2023-btn {
  font-size: clamp(11px, calc(18 / var(--cont-w) * 100vw), 18px);
  margin-left: 0;
  margin-top: clamp(1px, calc(30 / var(--cont-w) * 100vw), 30px);
  padding-bottom: clamp(1px, calc(15 / var(--cont-w) * 100vw), 15px);
  padding-top: clamp(1px, calc(15 / var(--cont-w) * 100vw), 15px);
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__body a:nth-of-type(n + 2) .ginseng2023-btn {
  margin-top: clamp(1px, calc(8 / var(--cont-w) * 100vw), 8px);
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body {
    width: 100%;
    padding-top: clamp(1px, calc(182 / var(--cont-w) * 100vw), 182px);
    padding-bottom: clamp(1px, calc(180 / var(--cont-w) * 100vw), 180px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-prev, .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-next {
    width: clamp(1px, calc(70 / var(--cont-w) * 100vw), 70px);
    height: clamp(1px, calc(72 / var(--cont-w) * 100vw), 72px);
    background-image: url("/kr/ko/resource/img/cover/concentrated_ginseng_renewing_swiper-arrow_mo_kr_240801.png");
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-prev {
    left: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-line-swiper-button-next {
    right: clamp(1px, calc(40 / var(--cont-w) * 100vw), 40px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .product-list .ap-section-image {
    width: clamp(1px, calc(301 / var(--cont-w) * 100vw), 301px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name {
    font-size: clamp(11px, calc(34 / var(--cont-w) * 100vw), 34px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name-en {
    font-size: clamp(11px, calc(22 / var(--cont-w) * 100vw), 22px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .prd-name .font-thein {
    font-size: clamp(11px, calc(36 / var(--cont-w) * 100vw), 36px);
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__body .ginseng2023-btn {
    font-size: clamp(11px, calc(22 / var(--cont-w) * 100vw), 22px);
    margin-top: clamp(1px, calc(32 / var(--cont-w) * 100vw), 32px);
    width: clamp(1px, calc(240 / var(--cont-w) * 100vw), 240px);
  }
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__title {
  font-size: clamp(11px, calc(42 / var(--cont-w) * 100vw), 42px);
  font-weight: 700;
  letter-spacing: -0.04em;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__desc {
  font-size: clamp(11px, calc(24 / var(--cont-w) * 100vw), 24px);
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.5833333333;
  margin-top: 1.8229166667%;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__desc sup {
  top: -0.3em;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__small-desc {
  color: #888;
  font-size: clamp(11px, calc(18 / var(--cont-w) * 100vw), 18px);
  font-weight: 500;
  letter-spacing: -0.04em;
  line-height: 1.5555555556;
  margin-top: 2.8645833333%;
}
.ap-post--ginseng-cream .ap-section--sustainable .ap-section__small-desc sup {
  top: 0.1em;
}
@media (max-width: 750px) {
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__title {
    font-size: clamp(11px, calc(46 / var(--cont-w) * 100vw), 46px);
    line-height: 1.3043478261;
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__desc {
    font-size: clamp(11px, calc(26 / var(--cont-w) * 100vw), 26px);
    line-height: 1.5384615385;
    margin-top: 4.2028985507%;
  }
  .ap-post--ginseng-cream .ap-section--sustainable .ap-section__small-desc {
    font-size: clamp(11px, calc(22 / var(--cont-w) * 100vw), 22px);
    line-height: 1.5454545455;
    margin-top: 8.115942029%;
  }
}